$primary: #DC4B3E;
$primary-hover: #B03D32; 
$white: #fff;
$gray: #eeeeee;
$gray-dark: #828282;
$gray-light: #fafafa;
$border-radius: 0.25rem;
$font-small: 0.75rem;
$font-base: 0.9rem;
$font-medium: 1.25rem;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
body {
    max-height: 100vh;
    max-width: 1280px;
    margin: auto;
}