@import "../stylesheets/index.scss";

.layout {
    max-height: 100vh;
    display: flex;
    flex-direction: column;

    .container {
        display: flex;
        height: 100vh;

        .outlet_container {
            width: 100%;
        }
    }
}